*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

body{
    overflow-x: hidden;
}

/* title */
.title2{
    margin: 80px 16px 10dvh 32px;
    box-sizing: border-box;
}

.title2 h1{
    font-size: 130px;
    font-weight: 400;
    line-height: 150px;
}

.hero{
    width: 100dvw;
    height: 1px;
}

/* .hello svg{
    width: 700px;
} */

.title{
    margin: 80px 16px 10dvh 32px;
    box-sizing: border-box;
}

.deco1{
    font-family: "Avenir", sans-serif;;
    width: 100dvw;
    font-size: 190px;
    font-weight: 600;
    line-height: 250px;
    margin-bottom: 15dvh;
}
.bunnytop{
    justify-self: center;
}

.bunnytop p{
    display: inline-block;
    margin: 0; padding: 0;
}

.deco1 p{
    justify-self: center;
    background-color: transparent;
    color: none;
}

.bunnyears{
    animation: sway 2s infinite;
    transform-origin: bottom center
}

@keyframes sway {
0% {
    transform: rotate(5deg); /* Start at 5 degrees right */
  }
  50% {
    transform: rotate(-5deg); /* Move to 5 degrees left in the middle */
  }
  100% {
    transform: rotate(5deg); /* Return to the start for a seamless loop */
  }
}


.tags{
    height: auto;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;

}

.tag:first-child{
    margin-left: 16px;
}

.tags::-webkit-scrollbar {
    display: none;
  }


#maintag{
    background-color: white; 
}

.tag svg{
    margin-right: 8px;
    height: 50px;
}
.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:8px 24px 8px 24px;
    background-color: #EEEEEE;
    border:2px solid #000;
    border-radius: 40px;
    margin-right: 20px;
}


.tag p{
    white-space: nowrap;
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

.title h1{
    font-size: 130px;
    font-weight: 400;
    line-height: 150px;
}

/* header */
.fixedheader{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 100dvw;
    height: 40px;
    box-sizing: border-box;
    padding: 16px 32px 24px 32px;
}

.fixedheader .buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.headerbtn {
    padding: 14px 4px 14px 4px;
    font-size: 24px;
    font-weight: 600;
}

.icon{
        width: 55px;
        font-weight: 800;
    }




/* ///////////////////////////// index ///////////////////////////// */

/* HIDE HERO */

/* .hero{
    width: 100dvw;
    height: 100dvh;
    background: url(assets/hero2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */



/* images */

.box2{
    margin: 8px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portcardtextwrapper{
    padding: 0px 10px 0px 10px;
}

.portcard{
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 8px;
}

.portcard:hover > .thumbnaildiv{
    opacity: 50%;
    transition: linear 0.05s;
}

.portcard h3{
    margin-top: 6px;
    font-weight: 500;
    font-size: 34px;
    padding: 12px 0px 0px 0px;
}

.portcard p {
    font-size: 18px;
    margin-top: 8px;
}

.thumbnaildiv{
    width: 100%;
    height: 550px;
    /* border-radius: 10px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.thumbnaildiv img{
    width: 100%;
    height: auto;
}

.box3{
    display: flex;
    top: 0;
    justify-content: center;
    height: 100px;
}


/* filter */


.filterbtn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 26px 10px 26px;
    color: #BABABA;
}

.filterbtn:hover{
    color: black;
}

.filterbtn:first-child{
    margin-left: 16px;
}

.filternew::-webkit-scrollbar {
    display: none;
  }

.filternew {
    display: flex;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px ;
}

.filterActive{
    border:2px solid #000;
    color: black;
    border-radius: 40px;
    margin-right: 20px;
}

/* ///////////////////////////// port ///////////////////////////// */ 

/* port title */

.porttitle{
    margin: 20px;
}

.herowrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlebox{
    margin: 10dvh 0px 12dvh 0px;
    
}

.titlebox1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0px 30px 0px 30px;
    box-sizing: border-box;
}


.titlebox h1{
    padding-right: 60px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 70px;
}

.titlebox .tagbox{
    font-weight: 500;
    font-size: 22px;
    margin-top: 30px;
}

.titlebox .descrpbox{
    font-weight: 300;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
}

.portimagehero{
    width: 100dvw;
    height: 70dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

/* player */
.player{
    /* width: 98dvw;
     */
}

/* .player iframe{
    display: block;
    margin: auto;

} */

.tallvideo{
    display: block;
    margin: auto;
    width: 40dvw;
    height: auto;
    aspect-ratio: 9/16;
}

.widevideo{
    display: block;
    margin: auto;
    width: 98dvw;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 2vh;
}

/* port body */

.portbody1{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    container-type: inline-size;
    container-name: picture;
    padding: 16px;
}


/* .portbody1B{
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    container-type: inline-size;
    container-name: picture;
    padding: 16px;
} */

.portimageshort{
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
}

.portimagetall{
    width: auto;
    height: 100vh;
    margin: 0; padding: 0;
}

.portimage{
    width: 100%;
    height: auto;
}

/* page 1 footer */

.pg1footer{
    width: 100dvw;
    height: 50dvh;
}


/* Page 2 */
.infobox{
    margin: 16px;
}

.infowrapper{
    margin-bottom: 26px;
    width: 100%;
}

.infowrapper a{
    font-size: 18px;
    color: black;
}

.infobox p {
    font-size: 18px;
}

.infoheader{
    color: grey;
    margin-bottom: 6px;
}

/* RESPONSIVE */

/* Tablet */
@media only screen and (max-width: 1050px) {
    .hello svg{
        width: 60dvw;
    }

    .tag{
        padding:4px 24px 4px 24px;
        border-radius: 40px;
        margin-right: 20px;
    }
    
    .tag p{
        font-size: 20px;
    }

    .title h1{
        font-size: 100px;
        line-height: 100px;
    }

    .title2 h1{
        font-size: 100px;
        line-height: 100px;
    }

    .thumbnaildiv{
        height: 340px;
    }

    .portcard h3{
        font-size: 32px;
        line-height: 45px;
    }


    .titlebox h1{
        font-size: 45px;
        line-height: 60px;
    }

  }


/* Mobile */
@media only screen and (max-width: 750px) {
    /* header menu */

    

    .deco1{
    font-size: 150px;
    line-height: 190px;
    margin-bottom: 10dvh;
}

    .fixedheader{
        padding: 8px 24px 8px 24px;
    }
    

    /* hello title */

    .hello svg{
        width: 80dvw;
    }

    .thumbnaildiv{
        height: 360px;
    }

    .portcard:hover > .thumbnaildiv{
        opacity: 50%;
    }

    .title h1{
        margin-top: 60px;
        font-size: 70px;
        line-height: 80px;
    }
    .title p{
        font-size: 20px;
        line-height: auto;

    }

        /* others */
    .box2{
        grid-template-columns: 1fr ;
    }

    .titlebox1{
        grid-template-columns: 1fr;
        margin: 30px 10px 30px 10px;
    }
    .titlebox .descrpbox{
        padding: 40px 0px 0px 0px;
    }

    .titlebox h1{
        padding-right:0px
    }

    /* .portimage{
        width:100dvw;
    } */

    .portimageshort{
    width: 100%;
    height: auto;
}

.portimagetall{
    width: 100%;
    height: auto;
}

    .portimagehero{
        height: 60dvh;
    }

    .portcard p{
        font-size: 18px;
    }
  }

  .tallvideo{
    width: 98dvw;
}


  /* Big ass screen */
@media only screen and (min-width: 1920px) {
        .box2{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .title{
    margin: 32px 16px 3dvh 32px;
}

    .deco1{
    margin-bottom: 12dvh;
}
}